//- Used in modul-media.pug

//-
mixin audioPlayer(audio)
  - const design = audio.vzhled || "";

  case design
    when "jednoduchy"
      +audioPlayerSimple(audio)
    default
      +audioPlayerDefault(audio)

//-
mixin audioPlayerSimple(audio)
  .media-player.media-player-audio-simple(data-player-audio="simple")

    .media-player-canvas.media-player-wrapper
      audio(src="../assets/audio/" + (audio.soubor || audio.objekt) preload="auto")
    .media-player-meta
      if audio.label
        .media-player-label !{typeset(audio.label)}
      .media-player-title !{typeset(audio.nazev)}

      if audio.prepis
        .media-player__transcript
          +mediaTranscript(audio.content)

    +playerControls()

    .media-player-progress
      .media-player-time
        .media-time-current(data-audio-time-left="") 0:00
        .media-time-duration(data-audio-time-duration="")

//-
mixin audioPlayerDefault(audio)
  .media-player.media-player-audio-normal(data-player-audio="normal")
    +playerControls()

    .media-player-meta
      if audio.label
        .media-player-label !{typeset(audio.label)}
      .media-player-title !{typeset(audio.nazev)}
      .media-player-description !{typeset(audio.popisek)}

      if audio.prepis
        .media-player__transcript
          +mediaTranscript(audio.content)

    .media-player-progress
      .media-player-time
        .media-time-current(data-audio-time-left="") 0
        .media-time-duration(data-audio-time-duration="") /0
      .media-player-progress-bar
        .audio-wavesurfer(data-src="../assets/audio/" + audio.soubor data-audio-wave="")

//-
mixin playerControls()
  .media-player-controls
    .media-player-control-item(data-player-control="paused")
      button.media-player-button(tabindex="-1")
        svg(xmlns="http://www.w3.org/2000/svg")
          use.media-player-button-play(xlink:href="#icon-media-play")
          use.media-player-button-pause(xlink:href="#icon-media-pause")

//-
mixin mediaTranscript(transcript)
  .media__transcript
    button(tabindex="-1" data-tooltip= t.media.transcript[lang] data-fullscreen="toggle")
      svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 40 40")
        use.media-player-button-play(xlink:href="#icon-cteni")
    .transcript !{transcript}
